@import '../../style/var';

.range-wrapper {
  display: flex;
  justify-content: space-between;
}

.noUi-base, 
.noUi-connect {
  width: 160px;
  cursor: pointer;
}

.noUi-connect {
  background: $borderColor;
}
.noUi-target {
  box-shadow: 0 0 10px $borderColor;
  border: none;
  background: $bgColor;

}
.noUi-handle {
  box-shadow: 0 4px 16px rgba(0,0,0,0.24);
  border: none;
  border-radius: 50%;
  background: $bgColor;
  
}
.noUi-handle:before,
.noUi-handle:after {
  display: none;
}
.noUi-handle-lower,
.noUi-handle-upper {
  background: $borderColor;
  box-shadow: 0 0 16px $borderColor;
  cursor: pointer;
}

.noUi-horizontal {
  height: 5px;
}
.noUi-horizontal .noUi-handle {
  width: 15px;
  height: 15px;
  right: -8px;
}

.noUi-tooltip {
  color: $bgColor;
  background-color: transparent;
  outline: none;
  border: none;
}

.noUi-tooltip {
  opacity: 0;
  transition: all .5s ease-in-out;
}
.noUi-active .noUi-tooltip {
  opacity: 1;
  transition: all .3s ease-in-out;
}